body {
	font: 14px Helvetica, Arial, sans-serif;
	line-height: 24px;
	margin: 0;
}

.content-wrapper {
	margin: 5% auto;
	max-width: 600px;
	width: 90%;
}

.post-wrapper {
	margin: 0 0 40px 0;
	float: left;
	width: 100%;
}

.post-wrapper iframe {
	margin: 0 0 20px 0;
	float: left;
	width: 100%;
}